.flag {
	line-height: 16px;

	display: inline-block;

	width: 16px;
	height: 16px;

	vertical-align: text-top;

	background: url(../images/flags16.png) no-repeat;
}


.german {
	background-position: 0 -1152px;
}
.british {
	background-position: 0 -112px;
}
.australian {
	background-position: 0 -560px;
}
.dutch {
	background-position: 0 -2752px;
}
.finnish {
	background-position: 0 -1360px;
}
.mexican {
	background-position: 0 -2624px;
}
.spanish {
	background-position: 0 -1328px;
}
.brazilian {
	background-position: 0 -800px;
}
.french {
	background-position: 0 -1424px;
}
.russian {
	background-position: 0 -3104px;
}
.danish {
	background-position: 0 -1184px;
}
.belgian {
	background-position: 0 -656px;
}
.swedish {
	background-position: 0 -3200px;
}
.indonesian {
	background-position: 0 -1792px;
}
